.avaliacao-bg {
  padding-top: 140px;
}

.cabecalho {
  display: grid;
  grid-template-columns: 7fr 2fr;
  align-items: center;
  margin-bottom: 60px;
}

.cabecalho-titulo h2 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cabecalho-google {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-self: end;
}

.cabecalho-google > p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.depoimentos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.depoimento-card {
  background-color: var(--cor-0);
  border-radius: 12px;
  padding: 44px 60px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.depoimento-card:hover {
  border: 1px solid var(--cor-p4);
  transform: translateY(-5px);
  cursor: pointer;
}

.card-cabecalho {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}

.card-cabecalho::after {
  content: "“";
  position: absolute;
  font-size: 8rem;
  color: var(--cor-1);
  left: 220px;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--cor-p1);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-avatar {
  background-color: var(--cor-p4);
}

.profile-info h3 {
  font-weight: 600;
  margin-bottom: 2px;
}
.card-estrelas {
  margin-bottom: 42px;
}

.card-texto {
  flex-grow: 1;
  margin-bottom: 42px;
  width: 225px;
}

.card-rodape {
  border-top: 2px solid var(--cor-1);
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-rodape p {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1200px) {
  .depoimentos {
    grid-template-columns: repeat(2, 1fr);
  }
  .depoimento-card:nth-child(3) {
    grid-column: 1/-1;
  }
  .card-cabecalho::after {
    display: none;
  }
}

@media (max-width: 800px) {
  .avaliacao-bg {
    padding-top: 80px;
  }

  .cabecalho {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 20px;
  }
  .cabecalho-google {
    display: none;
  }

  .depoimentos {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .depoimento-card {
    padding: 30px 25px;
  }

  .card-texto {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .cabecalho-titulo h2 {
    font-size: 1.5rem;
  }
}
