.contato-bg {
  padding-top: 140px;
  padding-bottom: 180px;
  scroll-margin-top: 30px;
}

.contato h2 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contato h2::before {
  content: "";
  width: 8px;
  height: 40px;
  background: var(--cor-p5);
  display: inline-block;
  border-radius: 10px;
}

.contato p {
  margin-bottom: 80px;
}

.contato p > a {
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: all 0.2s ease-in-out;
}

.contato p > a:hover {
  color: var(--cor-p5);
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 450px) {
  .contato-bg {
    padding-top: 80px;
    padding-bottom: 80px;
    scroll-margin-top: 80px;
  }

  .contato-container {
    grid-template-columns: 1fr;
  }
  .contato p {
    margin-bottom: 40px;
  }

  .contato-img img {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 1200px) {
  .contato-container {
    grid-template-columns: 1fr;
  }
  .contato-img img {
    display: none;
  }
}
