.fotos-bg h2 {
  padding-top: 60px;
}

.carousel {
  margin: 20px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
}

.card {
  flex: 0 0 auto;
  width: 460px;
}

.card img {
  border-radius: 5px;
}

@media (max-width: 475px) {
  .fotos-bg h2 {
    padding-top: 40px;
  }
  .carousel {
    -webkit-mask-image: none;
    mask-image: none;
    overflow-x: auto;
    padding-bottom: 60px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .group {
    animation: none;
  }
  .card {
    width: 80vw;
  }
}
