.carousel {
  margin: 100px auto;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 30s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 auto;
  width: 460px;
}

.card img {
  border-radius: 5px;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@media (max-width: 475px) {
  .carousel {
    -webkit-mask-image: none;
    mask-image: none;
    overflow-x: auto;
  }
  .group {
    animation: none;
  }
  .card {
    width: 80vw;
  }
}
