.introducao-bg {
  background: url("../../img/icones/dec/bottom-left.svg") no-repeat top 500px
    left 200px;
  padding-top: 280px;
  padding-bottom: 30px;
  scroll-margin-top: 80px;
}

.introducao {
  gap: 0px;
}

.introducao-conteudo {
  text-align: center;
}

.introducao-botoes {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
}

.introducao-botoes a {
  animation: flutuar 5s ease-in-out infinite 1.5s;
}

.introducao h1 {
  margin-bottom: 20px;
  letter-spacing: -3%;
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (min-width: 800px) and (max-width: 1600px) {
  .introducao-bg {
    background: none;
  }
  .introducao {
    padding-top: 100px;
  }
}

@media (min-width: 450px) and (max-width: 1600px) {
  .introducao-bg {
    background: none;
    padding-top: 180px;
  }
  .introducao-conteudo br {
    display: none;
  }
}

@media (max-width: 450px) {
  .introducao-bg {
    background: none;
    padding-top: 220px;
    padding-bottom: 40px;
  }
  .introducao h1 {
    max-width: 375px;
  }
  .introducao p {
    max-width: 350px;
  }
  .introducao-conteudo br {
    display: none;
  }
  .introducao-conteudo {
    text-align: left;
  }
  .introducao-botoes {
    justify-content: left;
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .introducao h1 {
    font-size: 1.8rem;
  }
}
