.local-bg {
  background: url("../../img/icones/dec/bottom-right.svg") no-repeat bottom
    600px right 200px;
  padding-top: 100px;
  scroll-margin-top: 60px;
}

.local h2 {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: -2%;
}

.local h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--cor-p5);
}

.local-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.local-card {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.local-img img {
  border-radius: 20px 0px 0px 20px;
}

.local-conteudo {
  background-color: var(--cor-2);
  padding: 60px 30px;
  border-radius: 0px 20px 20px 0px;
}

.local-conteudo h3 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.local-conteudo h3::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 12px;
  margin-right: 12px;
  background-color: var(--cor-p5);
  transition: width 0.2s;
  cursor: pointer;
}

.local-conteudo h3:hover::before {
  width: 24px;
}

.local-conteudo p:nth-child(2) {
  max-width: 340px;
  margin-bottom: 34px;
}

.local-conteudo p:nth-child(3) {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.local-conteudo p:nth-child(4) {
  display: flex;
  gap: 10px;
  max-width: 274px;
  margin-bottom: 52px;
}

@media (min-width: 451px) and (max-width: 1201px) {
  .local-card {
    grid-template-columns: 1fr;
  }
  .local-img img {
    content: url("../../img/fotos/mapa-2.svg");
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .local-conteudo {
    background-color: var(--cor-2);
    padding: 60px 30px;
    border-radius: 0px 0px 20px 20px;
  }
  .local-conteudo p:nth-child(2) {
    max-width: none;
    margin-bottom: 34px;
  }
  .local-conteudo p:nth-child(4) {
    display: flex;
    gap: 10px;
    max-width: none;
    margin-bottom: 52px;
  }
}

@media (max-width: 450px) {
  .local-bg {
    padding-top: 100px;
    scroll-margin-top: 60px;
  }
  .local h2 {
    margin-bottom: 40px;
  }
  .local-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .local-card {
    grid-template-columns: 1fr;
  }
  .local-img img {
    content: url("../../img/fotos/mapa.svg");
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .local-conteudo {
    background-color: var(--cor-2);
    padding: 60px 30px;
    border-radius: 0px 0px 20px 20px;
  }
}
